---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Curacao
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Curaçao","official":"Country of Curaçao","nativeName":{"eng":{"official":"Country
        of Curaçao","common":"Curaçao"},"nld":{"official":"Land Curaçao","common":"Curaçao"},"pap":{"official":"Pais
        Kòrsou","common":"Pais Kòrsou"}}},"tld":[".cw"],"cca2":"CW","ccn3":"531","cca3":"CUW","independent":false,"status":"officially-assigned","unMember":false,"currencies":{"ANG":{"name":"Netherlands
        Antillean guilder","symbol":"ƒ"}},"idd":{"root":"+5","suffixes":["99"]},"capital":["Willemstad"],"altSpellings":["CW","Curacao","Kòrsou","Country
        of Curaçao","Land Curaçao","Pais Kòrsou"],"region":"Americas","subregion":"Caribbean","languages":{"eng":"English","nld":"Dutch","pap":"Papiamento"},"translations":{"ara":{"official":"دولة
        كوراساو","common":"كوراساو"},"bre":{"official":"Bro Curaçao","common":"Curaçao"},"ces":{"official":"Autonomní
        země Curaçao","common":"Curaçao"},"cym":{"official":"Country of Curaçao","common":"Curaçao"},"deu":{"official":"Land
        Curaçao","common":"Curaçao"},"est":{"official":"Curaçao","common":"Curaçao"},"fin":{"official":"Curaçao","common":"Curaçao"},"fra":{"official":"Pays
        de Curaçao","common":"Curaçao"},"hun":{"official":"Curaçao","common":"Curaçao"},"ita":{"official":"Paese
        di Curaçao","common":"Curaçao"},"kor":{"official":"퀴라소","common":"퀴라소"},"nld":{"official":"Land
        Curaçao","common":"Curaçao"},"per":{"official":"کوراسائو","common":"کوراسائو"},"pol":{"official":"Curaçao","common":"Curaçao"},"por":{"official":"País
        de Curaçao","common":"ilha da Curação"},"rus":{"official":"Страна Кюрасао","common":"Кюрасао"},"slk":{"official":"Curacao","common":"Curacao"},"spa":{"official":"País
        de Curazao","common":"Curazao"},"srp":{"official":"Курасао","common":"Курасао"},"swe":{"official":"Curaçao","common":"Curaçao"},"tur":{"official":"Curaçao","common":"Curaçao"},"urd":{"official":"مملکتِ
        کیوراساؤ","common":"کیوراساؤ"},"zho":{"official":"库拉索","common":"库拉索"}},"latlng":[12.116667,-68.933333],"landlocked":false,"area":444.0,"demonyms":{"eng":{"f":"Curaçaoan","m":"Curaçaoan"},"fra":{"f":"Curacienne","m":"Curacien"}},"flag":"\uD83C\uDDE8\uD83C\uDDFC","maps":{"googleMaps":"https://goo.gl/maps/9D3hTeA3qKaRT7S16","openStreetMaps":"https://www.openstreetmap.org/relation/1216719"},"population":155014,"fifa":"CUW","car":{"signs":["CW"],"side":"right"},"timezones":["UTC-04:00"],"continents":["North
        America"],"flags":{"png":"https://flagcdn.com/w320/cw.png","svg":"https://flagcdn.com/cw.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/cw.png","svg":"https://mainfacts.com/media/images/coats_of_arms/cw.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[12.1,-68.92]}}]'
  recorded_at: Tue, 01 Oct 2024 23:40:22 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Curacao&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":385,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Curacao&app_key=<app_key>&_cont=CHcVQBtNNQphDmgVQntAEX4BYUtyAwIFRmRABWoQZlxyBwUDUXlSVWVHYFwlUFEPFjZGB2QTawQlAAJRFm1BA2QSMARxBwcVLnlSVSBMPkd5BgNK&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_08ff2d22c5ead83de237f0d92d45c038","label":"El
        Presidente Recipe","image":"https://edamam-product-images.s3.amazonaws.com/web-img/4e0/4e09c4e8f4d8ec56af4729c002b2d8d7.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFAaCXVzLWVhc3QtMSJIMEYCIQCEdxTcfbZzRyVj5pqYgVlRzdUL3ZbSAiKvf%2BAR3CsImgIhALvAkHqiYuAmY8IAD742Aq%2FVR54bI5TIAZL1AufMykpHKsEFCJj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMTg3MDE3MTUwOTg2Igyu44TAXOWscnbmoeAqlQX4%2FvolrPKPuftM2xFZ4LBpl7Ngu9GjD5uKzZi0%2FX4Y76DwuRo7a2ponh%2BBoG8pFDQgU6sJGhyYS8PIYJnfNJZrCwfaR4%2F5eJLV0O241s7NKqwHSSoPjlIFBpSgIFIQoHllsAEQjrdbwOcGfKm7AFqcVOdM%2[...]
