---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/greece?fullText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Greece","official":"Hellenic Republic","nativeName":{"ell":{"official":"Ελληνική
        Δημοκρατία","common":"Ελλάδα"}}},"tld":[".gr"],"cca2":"GR","ccn3":"300","cca3":"GRC","cioc":"GRE","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["0"]},"capital":["Athens"],"altSpellings":["GR","Elláda","Hellenic
        Republic","Ελληνική Δημοκρατία"],"region":"Europe","subregion":"Southern Europe","languages":{"ell":"Greek"},"translations":{"ara":{"official":"الجمهورية
        الهيلينية","common":"اليونان"},"bre":{"official":"Republik Hellenek","common":"Gres"},"ces":{"official":"Řecká
        republika","common":"Řecko"},"cym":{"official":"Hellenic Republic","common":"Greece"},"deu":{"official":"Hellenische
        Republik","common":"Griechenland"},"est":{"official":"Kreeka Vabariik","common":"Kreeka"},"fin":{"official":"Helleenien
        tasavalta","common":"Kreikka"},"fra":{"official":"République hellénique","common":"Grèce"},"hrv":{"official":"Helenska
        Republika","common":"Grčka"},"hun":{"official":"Görög Köztársaság","common":"Görögország"},"ita":{"official":"Repubblica
        ellenica","common":"Grecia"},"jpn":{"official":"ギリシャ共和国","common":"ギリシャ"},"kor":{"official":"그리스
        공화국","common":"그리스"},"nld":{"official":"Helleense Republiek","common":"Griekenland"},"per":{"official":"جمهوری
        یونان","common":"یونان"},"pol":{"official":"Republika Grecka","common":"Grecja"},"por":{"official":"República
        Helénica","common":"Grécia"},"rus":{"official":"Греческая Республика","common":"Греция"},"slk":{"official":"Grécka
        republika","common":"Greécko"},"spa":{"official":"República Helénica","common":"Grecia"},"swe":{"official":"Republiken
        Grekland","common":"Grekland"},"tur":{"official":"Helen Cumhuriyeti","common":"Yunanistan"},"urd":{"official":"جمہوریہ
        ہیلینیہ","common":"یونان"},"zho":{"official":"希腊共和国","common":"希腊"}},"latlng":[39.0,22.0],"landlocked":false,"borders":["ALB","BGR","TUR","MKD"],"area":131990.0,"demonyms":{"eng":{"f":"Greek","m":"Greek"},"fra":{"f":"Grecque","m":"Grec"}},"flag":"\uD83C\uDDEC\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/LHGcAvuRyD2iKECC6","openStreetMaps":"https://www.openstreetmap.org/relation/192307"},"population":10715549,"gini":{"2018":32.9},"fifa":"GRE","car":{"signs":["GR"],"side":"right"},"timezones":["UTC+02:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/gr.png","svg":"https://flagcdn.com/gr.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/gr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/gr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[37.98,23.73]},"postalCode":{"format":"###
        ##","regex":"^(\\d{5})$"}}]'
  recorded_at: Sun, 13 Nov 2022 05:22:34 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Greece&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":156,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Greece&app_key=<app_key>&_cont=CHcVQBtNNQphDmgVQ3tAEX4BYVFtAgUCRmBBBGAUYVx3DQEFUXlSCjMTYlMhAwcAEDdIUGNBMlZ0UgJVQGNIBGYQNgN0VwoVLnlSVSBMPkd5BgMbUSYRVTdgMgksRlpSAAcRXTVGcV84SU4%3D&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_933d6d8397158ecbe7e705c4d9c00460","label":"Kourabiedes
        (Greece): Walnut Sugar Cookies","image":"https://edamam-product-images.s3.amazonaws.com/web-img/158/15841d8cfcf74c17afe98c5151fdd998.jpeg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEL3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIFsvCJrgWHSucsTB6k37sYU%2BhSOVvF65qc8hG5rPIshlAiBU15G6cf7vnDxUWVn%2ByoEF7ZIA2Egauu57olKyoKdAvyrVBAi2%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE4NzAxNzE1MDk4NiIM2LUqrwccpBIydiO1KqkEXTJzZ6Ey6GTb%2Fcj5iwxwo0XaY8mwDl9gS%2FFyYMwyZJtPHKWvy0YFWlrp934HhzU%2BkvFG2jdbbdnugpYbr1wrcJf%2BVgg45deLuUMC7O3cHUYmCw6HaX55MK5aV5Enn[...]
