---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Thailand","official":"Kingdom of Thailand","nativeName":{"tha":{"official":"ราชอาณาจักรไทย","common":"ประเทศไทย"}}},"tld":[".th",".ไทย"],"cca2":"TH","ccn3":"764","cca3":"THA","cioc":"THA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"THB":{"name":"Thai
        baht","symbol":"฿"}},"idd":{"root":"+6","suffixes":["6"]},"capital":["Bangkok"],"altSpellings":["TH","Prathet","Thai","Kingdom
        of Thailand","ราชอาณาจักรไทย","Ratcha Anachak Thai"],"region":"Asia","subregion":"South-Eastern
        Asia","languages":{"tha":"Thai"},"translations":{"ara":{"official":"مملكة
        تايلند","common":"تايلند"},"bre":{"official":"Rouantelezh Thailand","common":"Thailand"},"ces":{"official":"Thajské
        království","common":"Thajsko"},"cym":{"official":"Kingdom of Thailand","common":"Thailand"},"deu":{"official":"Königreich
        Thailand","common":"Thailand"},"est":{"official":"Tai Kuningriik","common":"Tai"},"fin":{"official":"Thaimaan
        kuningaskunta","common":"Thaimaa"},"fra":{"official":"Royaume de Thaïlande","common":"Thaïlande"},"hrv":{"official":"Kraljevina
        Tajland","common":"Tajland"},"hun":{"official":"Thaiföldi Királyság","common":"Thaiföld"},"ita":{"official":"Regno
        di Thailandia","common":"Tailandia"},"jpn":{"official":"タイ王国","common":"タイ"},"kor":{"official":"타이
        왕국","common":"태국"},"nld":{"official":"Koninkrijk Thailand","common":"Thailand"},"per":{"official":"پادشاهی
        تایلند","common":"تایلند"},"pol":{"official":"Królestwo Tajlandii","common":"Tajlandia"},"por":{"official":"Reino
        da Tailândia","common":"Tailândia"},"rus":{"official":"Королевство Таиланд","common":"Таиланд"},"slk":{"official":"Thajské
        kráľovstvo","common":"Thajsko"},"spa":{"official":"Reino de Tailandia","common":"Tailandia"},"srp":{"official":"Краљевина
        Тајланд","common":"Тајланд"},"swe":{"official":"Konungariket Thailand","common":"Thailand"},"tur":{"official":"Tayland
        Krallığı","common":"Tayland"},"urd":{"official":"مملکتِ تھائی لینڈ","common":"تھائی
        لینڈ"},"zho":{"official":"泰王国","common":"泰国"}},"latlng":[15.0,100.0],"landlocked":false,"borders":["MMR","KHM","LAO","MYS"],"area":513120.0,"demonyms":{"eng":{"f":"Thai","m":"Thai"},"fra":{"f":"Thaïlandaise","m":"Thaïlandais"}},"flag":"\uD83C\uDDF9\uD83C\uDDED","maps":{"googleMaps":"https://goo.gl/maps/qeU6uqsfW4nCCwzw9","openStreetMaps":"https://www.openstreetmap.org/relation/2067731"},"population":69799978,"gini":{"2019":34.9},"fifa":"THA","car":{"signs":["T"],"side":"left"},"timezones":["UTC+07:00"],"continents":["Asia"],"flags":{"png":"https://flagcdn.com/w320/th.png","svg":"https://flagcdn.com/th.svg","alt":"The
        flag of Thailand is composed of five horizontal bands of red, white, blue,
        white and red, with the central blue band twice the height of the other four
        bands."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/th.png","svg":"https://mainfacts.com/media/images/coats_of_arms/th.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[13.75,100.52]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Tue, 20 Aug 2024 01:14:17 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Thailand&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":259,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Thailand&app_key=<app_key>&_cont=CHcVQBtNNQphDmgVQntAEX4BYktyDQoDRWVEBWQRYVxwAgAEUXlSB2BHZwclDQJSQ2QRB2cWNQQnDFVWEmMWC2oRMlYiUAYVLnlSVSBMPkd5BgNK&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_8cd4e6b1725143938313649aa5203616","label":"Steamed
        Thailand Turkey Burger","image":"https://edamam-product-images.s3.amazonaws.com/web-img/d7a/d7aadde1ff6875e8d46f46c692691d73.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEEkaCXVzLWVhc3QtMSJHMEUCIQCWareC5SAl%2B4VzI6r%2FxoenRUKqF42NyIJjqUylsDjs%2BAIgEhP%2BAwm8a8uCjyVSFsfSubbxrTk6w5Pnq4wtnMhtWqIquQUIURAAGgwxODcwMTcxNTA5ODYiDH0DW00loF%2FLq5LxHSqWBb%2FmNrdx3WbmVObc%2Foc9aDKVrIY6v%2FmtqY2y7nDyeFIAy7Kwb3Eiaz2fgj7tZg0NO%2FxAiOwqwMAva0cQ6OIuA%2FbOJfJWoinRyaslxeM6DmXrrMB4GxnW2DW1E%2BAS8s13xunXiNRj55CNZextnDy05EUvXqT9dtiuQJnBi9LZz3sPKahiwjaH[...]
