---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Finland
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Finland","official":"Republic of Finland","nativeName":{"fin":{"official":"Suomen
        tasavalta","common":"Suomi"},"swe":{"official":"Republiken Finland","common":"Finland"}}},"tld":[".fi"],"cca2":"FI","ccn3":"246","cca3":"FIN","cioc":"FIN","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["58"]},"capital":["Helsinki"],"altSpellings":["FI","Suomi","Republic
        of Finland","Suomen tasavalta","Republiken Finland"],"region":"Europe","subregion":"Northern
        Europe","languages":{"fin":"Finnish","swe":"Swedish"},"translations":{"ara":{"official":"جمهورية
        فنلندا","common":"فنلندا"},"bre":{"official":"Republik Finland","common":"Finland"},"ces":{"official":"Finská
        republika","common":"Finsko"},"cym":{"official":"Republic of Finland","common":"Finland"},"deu":{"official":"Republik
        Finnland","common":"Finnland"},"est":{"official":"Soome Vabariik","common":"Soome"},"fin":{"official":"Suomen
        tasavalta","common":"Suomi"},"fra":{"official":"République de Finlande","common":"Finlande"},"hrv":{"official":"Republika
        Finska","common":"Finska"},"hun":{"official":"Finn Köztársaság","common":"Finnország"},"ita":{"official":"Repubblica
        di Finlandia","common":"Finlandia"},"jpn":{"official":"フィンランド共和国","common":"フィンランド"},"kor":{"official":"핀란드
        공화국","common":"핀란드"},"nld":{"official":"Republiek Finland","common":"Finland"},"per":{"official":"جمهوری
        فنلاند","common":"فنلاند"},"pol":{"official":"Republika Finlandii","common":"Finlandia"},"por":{"official":"República
        da Finlândia","common":"Finlândia"},"rus":{"official":"Финляндская Республика","common":"Финляндия"},"slk":{"official":"Fínska
        republika","common":"Fínsko"},"spa":{"official":"República de Finlandia","common":"Finlandia"},"swe":{"official":"Republiken
        Finland","common":"Finland"},"tur":{"official":"Finlandiya Cumhuriyeti","common":"Finlandiya"},"urd":{"official":"جمہوریہ
        فن لینڈ","common":"فن لینڈ"},"zho":{"official":"芬兰共和国","common":"芬兰"}},"latlng":[64.0,26.0],"landlocked":false,"borders":["NOR","SWE","RUS"],"area":338424.0,"demonyms":{"eng":{"f":"Finnish","m":"Finnish"},"fra":{"f":"Finlandaise","m":"Finlandais"}},"flag":"\uD83C\uDDEB\uD83C\uDDEE","maps":{"googleMaps":"https://goo.gl/maps/HjgWDCNKRAYHrkMn8","openStreetMaps":"openstreetmap.org/relation/54224"},"population":5530719,"gini":{"2018":27.3},"fifa":"FIN","car":{"signs":["FIN"],"side":"right"},"timezones":["UTC+02:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/fi.png","svg":"https://flagcdn.com/fi.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/fi.png","svg":"https://mainfacts.com/media/images/coats_of_arms/fi.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[60.17,24.93]},"postalCode":{"format":"#####","regex":"^(?:FI)*(\\d{5})$"}}]'
  recorded_at: Wed, 16 Nov 2022 19:47:53 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Finland&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":26,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Finland&app_key=<app_key>&_cont=CHcWQT1OcV9xBB8VADQWVhFCPwoxXVZEITQeVDcBaR4-SQ%3D%3D&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_d0b42ac80167f625ad717f5e5a2a7b8b","label":"Spoon
        Cookies: Lusikkaleivat (Finland)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/9ec/9ecc968d040c55607323682ee2818744.jpeg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBMaCXVzLWVhc3QtMSJIMEYCIQC5kyGbUJ9noI8T0ZdivYbB8ttWXAmSwXyHIQ0ghV1nlwIhAMPqnI90Tf3xvjOT1HAeQD07suQHkVi0eNBj8auoTT28KswECBwQABoMMTg3MDE3MTUwOTg2IgzLn3ixLJRS3nZmmY0qqQTbf6pr7w9ru3u%2B7QK8ajSDLVC5L0QKNlDnCFrkNWInP94VmSzLnLzx5dWmf9kzQ80qbOuRB6JiEqmcnlv%2B0j0Bj5i5BxRVySn0ZNv%2FVaCDoWQaM2lFn47xxp1RlGvXSCRzwsyO49eDDTAJSZyYL5kNC%2FZY45zvGFtr9IllCsClk5NqqdNmxZgdd%2BdULiT[...]
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Kyrgyzstan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Kyrgyzstan","official":"Kyrgyz Republic","nativeName":{"kir":{"official":"Кыргыз
        Республикасы","common":"Кыргызстан"},"rus":{"official":"Кыргызская Республика","common":"Киргизия"}}},"tld":[".kg"],"cca2":"KG","ccn3":"417","cca3":"KGZ","cioc":"KGZ","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"KGS":{"name":"Kyrgyzstani
        som","symbol":"с"}},"idd":{"root":"+9","suffixes":["96"]},"capital":["Bishkek"],"altSpellings":["KG","Киргизия","Kyrgyz
        Republic","Кыргыз Республикасы","Kyrgyz Respublikasy"],"region":"Asia","subregion":"Central
        Asia","languages":{"kir":"Kyrgyz","rus":"Russian"},"translations":{"ara":{"official":"الجمهورية
        القيرغيزية","common":"قيرغيزستان"},"bre":{"official":"Republik Kirgiz","common":"Kirgizstan"},"ces":{"official":"Kyrgyzská
        republik[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Kyrgyzstan&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Usage limits are exceeded"}'
  recorded_at: Wed, 16 Nov 2022 20:11:57 GMT
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Djibouti
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Djibouti","official":"Republic of Djibouti","nativeName":{"ara":{"official":"جمهورية
        جيبوتي","common":"جيبوتي‎"},"fra":{"official":"République de Djibouti","common":"Djibouti"}}},"tld":[".dj"],"cca2":"DJ","ccn3":"262","cca3":"DJI","cioc":"DJI","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"DJF":{"name":"Djiboutian
        franc","symbol":"Fr"}},"idd":{"root":"+2","suffixes":["53"]},"capital":["Djibouti"],"altSpellings":["DJ","Jabuuti","Gabuuti","Republic
        of Djibouti","République de Djibouti","Gabuutih Ummuuno","Jamhuuriyadda Jabuuti"],"region":"Africa","subregion":"Eastern
        Africa","languages":{"ara":"Arabic","fra":"French"},"translations":{"ara":{"official":"جمهورية
        جيبوتي","common":"جيبوتي"},"bre":{"official":"Republik Djibouti","common":"Djibouti"},"ces":{"off[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Djibouti&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Usage limits are exceeded"}'
  recorded_at: Wed, 16 Nov 2022 20:11:57 GMT
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Guinea-Bissau
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Guinea-Bissau","official":"Republic of Guinea-Bissau","nativeName":{"por":{"official":"República
        da Guiné-Bissau","common":"Guiné-Bissau"},"pov":{"official":"República da
        Guiné-Bissau","common":"Guiné-Bissau"}}},"tld":[".gw"],"cca2":"GW","ccn3":"624","cca3":"GNB","cioc":"GBS","independent":true,"status":"officially-assigned","unMember":false,"currencies":{"XOF":{"name":"West
        African CFA franc","symbol":"Fr"}},"idd":{"root":"+2","suffixes":["45"]},"capital":["Bissau"],"altSpellings":["GW","Republic
        of Guinea-Bissau","República da Guiné-Bissau"],"region":"Africa","subregion":"Western
        Africa","languages":{"por":"Portuguese","pov":"Upper Guinea Creole"},"translations":{"ara":{"official":"جمهورية
        غينيا بيساو","common":"غينيا بيساو"},"bre":{"official":"Republik Ginea-Bissau","common":"Ginea-Bissau"},"ces":{"official":"Republik[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Guinea-Bissau&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 07 Feb 2023 01:40:16 GMT
recorded_with: VCR 6.1.0
