---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Laos","official":"Lao People''s Democratic Republic","nativeName":{"lao":{"official":"ສາທາລະນະ
        ຊາທິປະໄຕ ຄົນລາວ ຂອງ","common":"ສປປລາວ"}}},"tld":[".la"],"cca2":"LA","ccn3":"418","cca3":"LAO","cioc":"LAO","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"LAK":{"name":"Lao
        kip","symbol":"₭"}},"idd":{"root":"+8","suffixes":["56"]},"capital":["Vientiane"],"altSpellings":["LA","Lao","Lao
        People''s Democratic Republic","Sathalanalat Paxathipatai Paxaxon Lao"],"region":"Asia","subregion":"South-Eastern
        Asia","languages":{"lao":"Lao"},"translations":{"ara":{"official":"جمهورية
        لاوس الديمقراطية الشعبية","common":"لاوس"},"bre":{"official":"Republik Demokratel
        ar Bobl Lao","common":"Laos"},"ces":{"official":"Laoská lidově demokratická
        republika","common":"Laos"},"cym":{"official":"Lao People''s Democratic Republic","common":"Laos"},"deu":{"official":"Demokratische
        Volksrepublik Laos","common":"Laos"},"est":{"official":"Laose Demokraatlik
        Rahvavabariik","common":"Laos"},"fin":{"official":"Laosin demokraattinen kansantasavalta","common":"Laos"},"fra":{"official":"République
        démocratique populaire lao","common":"Laos"},"hrv":{"official":"Narodna Demokratska
        Republika","common":"Laos"},"hun":{"official":"Laoszi Népi Demokratikus Köztársaság","common":"Laosz"},"ita":{"official":"Repubblica
        democratica popolare del Laos","common":"Laos"},"jpn":{"official":"ラオス人民民主共和国","common":"ラオス人民民主共和国"},"kor":{"official":"라오
        인민 민주 공화국","common":"라오스"},"nld":{"official":"Lao Democratische Volksrepubliek","common":"Laos"},"per":{"official":"جمهوری
        دموکراتیک خلق لائوس","common":"لائوس"},"pol":{"official":"Laotańska Republika
        Ludowo-Demokratyczna","common":"Laos"},"por":{"official":"Laos, República
        Democrática","common":"Laos"},"rus":{"official":"Лаосская Народно-Демократическая
        Республика","common":"Лаос"},"slk":{"official":"Laoská ľudovodemokratická
        republika","common":"Laos"},"spa":{"official":"República Democrática Popular
        Lao","common":"Laos"},"swe":{"official":"Demokratiska folkrepubliken Laos","common":"Laos"},"tur":{"official":"Laos
        Demokratik Halk Cumhuriyeti","common":"Laos"},"urd":{"official":"عوامی جمہوری
        جمہوریہ لاؤ","common":"لاؤس"},"zho":{"official":"老挝人民民主共和国","common":"老挝"}},"latlng":[18.0,105.0],"landlocked":true,"borders":["MMR","KHM","CHN","THA","VNM"],"area":236800.0,"demonyms":{"eng":{"f":"Laotian","m":"Laotian"},"fra":{"f":"Laotienne","m":"Laotien"}},"flag":"\uD83C\uDDF1\uD83C\uDDE6","maps":{"googleMaps":"https://goo.gl/maps/F3asVB7sRKgSnwbE7","openStreetMaps":"https://www.openstreetmap.org/relation/49903"},"population":7275556,"gini":{"2018":38.8},"fifa":"LAO","car":{"signs":["LAO"],"side":"right"},"timezones":["UTC+07:00"],"continents":["Asia"],"flags":{"png":"https://flagcdn.com/w320/la.png","svg":"https://flagcdn.com/la.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/la.png","svg":"https://mainfacts.com/media/images/coats_of_arms/la.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[17.97,102.6]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Sun, 13 Nov 2022 22:00:36 GMT
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<key>&maxResults=1&part=snippet&q=Laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "YPXEu6Tz6SmERpfTZ8H9dtmnofQ",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 27,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "g_AANaDO0PP_y9-nAEiKyK7DquE",
              "id": {
                "kind": "youtube#video",
                "videoId": "uw8hjVqxMXw"
              },
              "snippet": {
                "publishedAt": "2021-08-29T10:13:10Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Laos",
                "description": "Audio Requiring Attribution: LukeIRL: https://freesound.org/people/LukeIRL/sounds/176134/ RTB45: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-08-29T10:13:10Z"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 22:00:37 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=1&query=Laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '10'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"1243e3eb266436980471ef3cf6367b57"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"total\":10,\"total_pages\":1,\"results\":[{\"id\":\"U4Oox4_zYLA\",\"created_at\":\"2019-03-29T10:53:34Z\",\"updated_at\":\"2022-11-12T07:06:36Z\",\"promoted_at\":null,\"width\":5300,\"height\":5300,\"color\":\"#402626\",\"blur_hash\":\"LwK9iTR-EMWW~BWWV@WWtOjFr?f7\",\"description\":\"Fishing
        for sunrays.\\r\\nJust one more beam —\\r\\nso I will have \\r\\nwarmth for
        the night.\",\"alt_description\":\"body of water during sunset\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1553856622-d1b352e9a211\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/U4Oox4_zYLA\",\"html\":\"https://unsplash.com/photos/U4Oox4_zYLA\",\"download\":\"https://unsplash.com/photos/U4Oox4_zYLA/download?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\",\"download_location\":\"https://api.unsplash.com/photos/U4Oox4_zYLA/download?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5NTY\"},\"likes\":142,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{},\"user\":{\"id\":\"9iaZQOhENbM\",\"updated_at\":\"2022-11-05T07:18:13Z\",\"username\":\"8moments\",\"name\":\"Simon
        Berger\",\"first_name\":\"Simon\",\"last_name\":\"Berger\",\"twitter_username\":\"8momentsinlife\",\"portfolio_url\":null,\"bio\":\"Man
        is eminently a storyteller. His search for a purpose, a cause, an ideal, a
        mission and the like is largely a search for a plot and a pattern in the development
        of his life story - a story that is basically without meaning or pattern.\\r\\nEric
        Hoffer\",\"location\":\"Austria\",\"links\":{\"self\":\"https://api.unsplash.com/users/8moments\",\"html\":\"https://unsplash.com/@8moments\",\"photos\":\"https://api.unsplash.com/users/8moments/photos\",\"likes\":\"https://api.unsplash.com/users/8moments/likes\",\"portfolio\":\"https://api.unsplash.com/users/8moments/portfolio\",\"following\":\"https://api.unsplash.com/users/8moments/following\",\"followers\":\"https://api.unsplash.com/users/8moments/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1648123401390-e50ce599700dimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1648123401390-e50ce599700dimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1648123401390-e50ce599700dimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"8momentsnow\",\"total_collections\":74,\"total_likes\":191,\"total_photos\":416,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":\"8momentsnow\",\"portfolio_url\":null,\"twitter_username\":\"8momentsinlife\",\"paypal_email\":null}},\"tags\":[]},{\"id\":\"S3eanF3r5W0\",\"created_at\":\"2020-10-12T19:54:06Z\",\"updated_at\":\"2022-11-12T16:15:39Z\",\"promoted_at\":null,\"width\":3985,\"height\":3628,\"color\":\"#262626\",\"blur_hash\":\"LMD+44+*R#S|}HrxXlX3sDRjN=oy\",\"description\":null,\"alt_description\":\"woman
        in pink jacket and blue denim jeans sitting on brown wooden bench\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1602532147505-5726e4df7e1f?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwyfHxMYW9zfGVufDB8Mnx8fDE2NjgzMTY5[...]
