---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=<key>&maxResults=10&part=snippet&q=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"mIGaEIADOXNmHPLH_ozMgsc2op8\",\n
        \ \"nextPageToken\": \"CAoQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1000000,\n    \"resultsPerPage\": 10\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"Vr56HqSOxK0zQHjS_5D13B6vjKk\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"nOpmGFkntb4\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-12T11:00:39Z\",\n        \"channelId\": \"UCBQjTfMEcxMlI49KCQAHwYQ\",\n
        \       \"title\": \"The BEST WAY to Travel Luang Prabang, LAOS \U0001F1F1\U0001F1E6\",\n
        \       \"description\": \"Today we are off on another Laos adventure! We've
        rented the most adorable and handy little electric car to take us around the
        ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/nOpmGFkntb4/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/nOpmGFkntb4/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/nOpmGFkntb4/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"2Passports 1Dream\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2022-11-12T11:00:39Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"mnQgu-pMt3_45yUowZ4YDWxHM7E\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"pH6pVEVx96w\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2022-11-12T11:45:02Z\",\n        \"channelId\": \"UCO5IhWS7_CIU1HoAkffBzcg\",\n
        \       \"title\": \"My Night market Disaster in Vientiane, Laos \U0001F1F1\U0001F[...]
