---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/france
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"France","official":"French Republic","nativeName":{"fra":{"official":"République
        française","common":"France"}}},"tld":[".fr"],"cca2":"FR","ccn3":"250","cca3":"FRA","cioc":"FRA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["3"]},"capital":["Paris"],"altSpellings":["FR","French
        Republic","République française"],"region":"Europe","subregion":"Western Europe","languages":{"fra":"French"},"translations":{"ara":{"official":"الجمهورية
        الفرنسية","common":"فرنسا"},"bre":{"official":"Republik Frañs","common":"Frañs"},"ces":{"official":"Francouzská
        republika","common":"Francie"},"cym":{"official":"French Republic","common":"France"},"deu":{"official":"Französische
        Republik","common":"Frankreich"},"est":{"official":"Prantsuse Vabariik","common":"Prantsusmaa"},"fin":{"official":"Ranskan
        tasavalta","common":"Ranska"},"fra":{"official":"République française","common":"France"},"hrv":{"official":"Francuska
        Republika","common":"Francuska"},"hun":{"official":"Francia Köztársaság","common":"Franciaország"},"ita":{"official":"Repubblica
        francese","common":"Francia"},"jpn":{"official":"フランス共和国","common":"フランス"},"kor":{"official":"프랑스
        공화국","common":"프랑스"},"nld":{"official":"Franse Republiek","common":"Frankrijk"},"per":{"official":"جمهوری
        فرانسه","common":"فرانسه"},"pol":{"official":"Republika Francuska","common":"Francja"},"por":{"official":"República
        Francesa","common":"França"},"rus":{"official":"Французская Республика","common":"Франция"},"slk":{"official":"Francúzska
        republika","common":"Francúzsko"},"spa":{"official":"República francés","common":"Francia"},"srp":{"official":"Француска
        Република","common":"Француска"},"swe":{"official":"Republiken Frankrike","common":"Frankrike"},"tur":{"official":"Fransa
        Cumhuriyeti","common":"Fransa"},"urd":{"official":"جمہوریہ فرانس","common":"فرانس"},"zho":{"official":"法兰西共和国","common":"法国"}},"latlng":[46.0,2.0],"landlocked":false,"borders":["AND","BEL","DEU","ITA","LUX","MCO","ESP","CHE"],"area":551695.0,"demonyms":{"eng":{"f":"French","m":"French"},"fra":{"f":"Française","m":"Français"}},"flag":"\uD83C\uDDEB\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/g7QxxSFsWyTPKuzd7","openStreetMaps":"https://www.openstreetmap.org/relation/1403916"},"population":67391582,"gini":{"2018":32.4},"fifa":"FRA","car":{"signs":["F"],"side":"right"},"timezones":["UTC-10:00","UTC-09:30","UTC-09:00","UTC-08:00","UTC-04:00","UTC-03:00","UTC+01:00","UTC+02:00","UTC+03:00","UTC+04:00","UTC+05:00","UTC+10:00","UTC+11:00","UTC+12:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/fr.png","svg":"https://flagcdn.com/fr.svg","alt":"The
        flag of France is composed of three equal vertical bands of blue, white and
        red."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/fr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/fr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[48.87,2.33]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Sun, 14 May 2023 22:37:11 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<apiKey>&bias=proximity:2.33,48.87&categories=tourism.sights&conditions=named&filter=circle:2.33,48.87,20000&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Crédit
        Foncier de France","country":"France","country_code":"fr","region":"Metropolitan
        France","state":"Ile-de-France","city":"Paris","district":"Paris","suburb":"2nd
        Arrondissement","city_block":"Quartier Gaillon","street":"Rue des Capucines","lon":2.3283688,"lat":48.8697225,"formatted":"Crédit
        Foncier de France, Rue des Capucines, Paris, France","address_line1":"Crédit
        Foncier de France","address_line2":"Rue des Capucines, Paris, France","categories":["tourism","tourism.sights","tourism.sights.memorial","wheelchair","wheelchair.yes"],"details":["details","details.facilities","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Crédit
        Foncier de France","title":"Histoire de Paris","osm_id":5157529658,"tourism":"information","historic":"memorial","memorial":"plaque","operator":"Mairie
        de Paris","osm_type":"n","wikidata":"Q60245392","board_type":"history","wheelchair":"yes","information":"board","inscription:1":"Sur
        des terrains vendus en 1719 par Guillaume Leduc ont été élevés les deux hôtels
        occupés depuis 1854 et 1858 par le Crédit Foncier. Tannevot les construisit,
        celui du 15 pour le fermier général Louis-Philippe Des Vieux, ancien directeur
        de la Compagnie","inscription:2":"des Indes, celui du 17-19 pour François
        Castanier, également directeur de la Compagnie des Indes. Autorisé par décret
        du 28 mars 1852 sous le nom de Banque foncière de Paris, le Crédit foncier
        de France était à l''origine une société de prêteurs prenant","inscription:3":"des
        gages hypothécaires sur les propriétés immobilières de ses emprunteurs. Ses
        attributions ont été étendues dès 1860 aux prêts et aux départements, puis
        à diverses opérations d''intérêt national attribuées par l''État."}},"distance":124,"place_id":"51d03648d27fa0024059d4741e11536f4840f00103f9013aa86933010000009203194372c3a964697420466f6e63696572206465204672616e6365"},"geometry":{"type":"Point","coordinates":[2.3283688,48.869722499724645]}},{"type":"Feature","properties":{"name":"Théâtre
        Daunou","country":"France","country_code":"fr","region":"Metropolitan France","state":"Ile-de-France","city":"Paris","postcode":"75002","district":"Paris","suburb":"2nd
        Arrondissement","city_block":"Quartier Gaillon","street":"Rue Daunou","lon":2.331856298373986,"lat":48.86926575,"formatted":"Théâtre
        Daunou, Rue Daunou, 75002 Paris, France","address_line1":"Théâtre Daunou","address_line2":"Rue
        Daunou, 75002 Paris, France","categories":["building","building.entertainment","building.historic","entertainment","entertainment.culture","entertainment.culture.theatre","heritage","tourism","tourism.sights"],"details":["details.heritage","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Théâtre
        Daunou","osm_id":54730662,"amenity":"theatre","ref:mhs":"PA00086098","building":"yes","heritage":3,"historic":"building","osm_type":"w","wikidata":"Q3527446","wikipedia":"fr:Théâtre
        Daunou","contact:city":"Paris","contact:street":"Rue Daunou","contact:postcode":75002,"heritage:operator":"mhs","contact:housenumber":7}},"distance":150,"place_id":"5101bfa97ea2a70240591f32932a446f4840f00102f901a61f4303000000009203105468c3a9c3a2747265204461756e6f75"},"geometry":{"type":"Point","coordinates":[2.331852902941933,48.86926777064604]}},{"type":"Feature","properties":{"name":"Edouard
        VII","country":"France","country_code":"fr","region":"Metropolitan France",[...]
