---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=1&query=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=22&query=thailand>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=2&query=thailand>;
        rel="next"
      X-Total:
      - '211'
      X-Per-Page:
      - '10'
      X-Version:
      - b295f98eab4deb508c30b4566490883c5e67fb41
      Content-Language:
      - en
      Etag:
      - W/"5cb134f04baa8407d04b25414c8d5e3c"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":211,"total_pages":22,"results":[{"id":"Mmd1rR9l1Y8","slug":"a-woman-sitting-at-a-table-filled-with-lots-of-food-Mmd1rR9l1Y8","alternative_slugs":{"en":"a-woman-sitting-at-a-table-filled-with-lots-of-food-Mmd1rR9l1Y8","es":"una-mujer-sentada-en-una-mesa-llena-de-mucha-comida-Mmd1rR9l1Y8","ja":"たくさんの食べ物でいっぱいのテーブルに座っている女性-Mmd1rR9l1Y8","fr":"une-femme-assise-a-une-table-remplie-de-nourriture-Mmd1rR9l1Y8","it":"una-donna-seduta-a-un-tavolo-pieno-di-cibo-Mmd1rR9l1Y8","ko":"많은-음식으로-가득-찬-테이블에-앉아있는-여자-Mmd1rR9l1Y8","de":"eine-frau-sitzt-an-einem-tisch-mit-viel-essen-Mmd1rR9l1Y8","pt":"uma-mulher-sentada-em-uma-mesa-cheia-de-muita-comida-Mmd1rR9l1Y8"},"created_at":"2022-02-06T07:19:12Z","updated_at":"2024-09-08T00:40:12Z","promoted_at":null,"width":4219,"height":4247,"color":"#260c0c","blur_hash":"LFCiBdSw-V-V0gaPI:M|NYx[aLWV","description":null,"alt_description":"a
        woman sitting at a table filled with lots of food","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1644130158113-a3c09069baca?ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1644130158113-a3c09069baca?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1644130158113-a3c09069baca?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1644130158113-a3c09069baca?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1644130158113-a3c09069baca?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1644130158113-a3c09069baca"},"links":{"self":"https://api.unsplash.com/photos/a-woman-sitting-at-a-table-filled-with-lots-of-food-Mmd1rR9l1Y8","html":"https://unsplash.com/photos/a-woman-sitting-at-a-table-filled-with-lots-of-food-Mmd1rR9l1Y8","download":"https://unsplash.com/photos/Mmd1rR9l1Y8/download?ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA","download_location":"https://api.unsplash.com/photos/Mmd1rR9l1Y8/download?ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzI3ODI0MTExfDA"},"likes":32,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"asset_type":"photo","user":{"id":"jYrQKOfGnoc","updated_at":"2024-09-19T18:47:10Z","username":"medion4you","name":"Norbert
        Braun","first_name":"Norbert","last_name":"Braun","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Bangkok,
        Thailand","links":{"self":"https://api.unsplash.com/users/medion4you","html":"https://unsplash.com/@medion4you","photos":"https://api.unsplash.com/users/medion4you/photos","likes":"https://api.unsplash.com/users/medion4you/likes","portfolio":"https://api.unsplash.com/users/medion4you/portfolio","following":"https://api.unsplash.com/users/medion4you/following","followers":"https://api.unsplash.com/users/medion4you/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1647656982781-3fb0bba35672image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1647656982781-3fb0bba35672image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1647656982781-3fb0bba35672image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":0,"total_likes":0,"total_photos":356,"total_promoted_photos":2,"total_illustrations":0,"total_promoted_illustrations":0,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}}},{"id":"T7QYOJrUkzw","slug":"a-fireworks-display-over-a-city-at-night-T7QYOJrUkzw","alternative_slugs":{"en":"a-fireworks-display-over-a-city-at-night-T7QYOJrUkzw","es":"un-espectaculo-de-fuegos-artificiales-sobre-una-ciudad-por-la-noche-T7QYOJrUkzw","ja":"夜の街に打ち上げられる花火大会-T7QYOJrUkzw","fr":"un-feu-dartifice-au-dessus-dune-ville-la-nuit-T7QYOJrUkzw","it":"uno-spettacolo-pirotecnico-su-una-citta-di-notte-T7QYOJrUkzw","ko":"밤의-도시-위로-펼쳐지는-불꽃놀이-T7QYOJrUkzw","de":"ein-nachtliches-feuerwerk-uber[...]
