---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=1&query=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '10'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"5516db90b707810417c34521d4a03ad0"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: "{\"total\":10,\"total_pages\":1,\"results\":[{\"id\":\"U4Oox4_zYLA\",\"created_at\":\"2019-03-29T10:53:34Z\",\"updated_at\":\"2023-02-06T07:06:44Z\",\"promoted_at\":null,\"width\":5300,\"height\":5300,\"color\":\"#402626\",\"blur_hash\":\"LwK9iTR-EMWW~BWWV@WWtOjFr?f7\",\"description\":\"Fishing
        for sunrays.\\r\\nJust one more beam —\\r\\nso I will have \\r\\nwarmth for
        the night.\",\"alt_description\":\"body of water during sunset\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1553856622-d1b352e9a211?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1553856622-d1b352e9a211\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/U4Oox4_zYLA\",\"html\":\"https://unsplash.com/photos/U4Oox4_zYLA\",\"download\":\"https://unsplash.com/photos/U4Oox4_zYLA/download?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\",\"download_location\":\"https://api.unsplash.com/photos/U4Oox4_zYLA/download?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8Mnx8fDE2NzU3Mjk0OTE\"},\"likes\":144,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{},\"user\":{\"id\":\"9iaZQOhENbM\",\"updated_at\":\"2023-02-05T06:19:21Z\",\"username\":\"8moments\",\"name\":\"Simon
        Berger\",\"first_name\":\"Simon\",\"last_name\":\"Berger\",\"twitter_username\":\"8momentsinlife\",\"portfolio_url\":null,\"bio\":\"Man
        is eminently a storyteller. His search for a purpose, a cause, an ideal, a
        mission and the like is largely a search for a plot and a pattern in the development
        of his life story - a story that is basically without meaning or pattern.\\r\\nEric
        Hoffer\",\"location\":\"Austria\",\"links\":{\"self\":\"https://api.unsplash.com/users/8moments\",\"html\":\"https://unsplash.com/@8moments\",\"photos\":\"https://api.unsplash.com/users/8moments/photos\",\"likes\":\"https://api.unsplash.com/users/8moments/likes\",\"portfolio\":\"https://api.unsplash.com/users/8moments/portfolio\",\"following\":\"https://api.unsplash.com/users/8moments/following\",\"followers\":\"https://api.unsplash.com/users/8moments/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1648123401390-e50ce599700dimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1648123401390-e50ce599700dimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1648123401390-e50ce599700dimage?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"8momentsnow\",\"total_collections\":73,\"total_likes\":191,\"total_photos\":416,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":\"8momentsnow\",\"portfolio_url\":null,\"twitter_username\":\"8momentsinlife\",\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"laos\"},{\"type\":\"search\",\"title\":\"unnamed
        road\"},{\"type\":\"search\",\"title\":\"fishnet\"}]},{\"id\":\"g8sOigZfj8Y\",\"created_at\":\"2020-12-11T13:07:16Z\",\"updated_at\":\"2023-02-06T06:18:05Z\",\"promoted_at\":null,\"width\":3374,\"height\":3648,\"color\":\"#8c8c8c\",\"blur_hash\":\"LNFiV@.8offk_4tRWVay9FM{Rjax\",\"description\":\"wandering
        at Luan Prabang, Laos... ig @hakannural\\n\",\"alt_description\":\"white and
        brown boat on body of water during daytim[...]
