---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<client_id>&page=1&query=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<client_id>&page=36&query=laos>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<client_id>&page=2&query=laos>;
        rel="next"
      X-Total:
      - '354'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"01ee6e7c40403dacf78f344368f3375c"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":354,\"total_pages\":36,\"results\":[{\"id\":\"yJ2SHIpNb9M\",\"created_at\":\"2018-10-27T03:32:26Z\",\"updated_at\":\"2022-11-13T01:05:52Z\",\"promoted_at\":null,\"width\":3888,\"height\":2184,\"color\":\"#f3d9c0\",\"blur_hash\":\"LnGSx=%KaKoJ~pxZodoL#Qaet7j[\",\"description\":\"The
        picture taken in Laos, 06:00, from hot baloon\",\"alt_description\":\"time
        lapse photography of flying hot air balloon\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1540611025311-01df3cef54b5?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1540611025311-01df3cef54b5\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/yJ2SHIpNb9M\",\"html\":\"https://unsplash.com/photos/yJ2SHIpNb9M\",\"download\":\"https://unsplash.com/photos/yJ2SHIpNb9M/download?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\",\"download_location\":\"https://api.unsplash.com/photos/yJ2SHIpNb9M/download?ixid=MnwzNzk2NzN8MHwxfHNlYXJjaHwxfHxsYW9zfGVufDB8fHx8MTY2ODMwODUzMA\"},\"likes\":86,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{},\"user\":{\"id\":\"ZQPn47Cdz4Y\",\"updated_at\":\"2022-10-11T01:17:43Z\",\"username\":\"ybitran\",\"name\":\"Yosi
        Bitran\",\"first_name\":\"Yosi\",\"last_name\":\"Bitran\",\"twitter_username\":null,\"portfolio_url\":null,\"bio\":null,\"location\":null,\"links\":{\"self\":\"https://api.unsplash.com/users/ybitran\",\"html\":\"https://unsplash.com/@ybitran\",\"photos\":\"https://api.unsplash.com/users/ybitran/photos\",\"likes\":\"https://api.unsplash.com/users/ybitran/likes\",\"portfolio\":\"https://api.unsplash.com/users/ybitran/portfolio\",\"following\":\"https://api.unsplash.com/users/ybitran/following\",\"followers\":\"https://api.unsplash.com/users/ybitran/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-fb-1540610405-4740e7320e76.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-fb-1540610405-4740e7320e76.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-fb-1540610405-4740e7320e76.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":null,\"total_collections\":0,\"total_likes\":7,\"total_photos\":27,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":null,\"portfolio_url\":null,\"twitter_username\":null,\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"laos\"},{\"type\":\"search\",\"title\":\"vang
        vieng\"}]},{\"id\":\"9r2yeRccyls\",\"created_at\":\"2019-10-06T12:57:05Z\",\"updated_at\":\"2022-11-12T05:09:05Z\",\"promoted_at\":\"2019-10-07T11:10:05Z\",\"width\":5464,\"height\":3640,\"color\":\"#264026\",\"blur_hash\":\"LCEC%1~jN14;9O9HthoI0hf+M+%0\",\"description\":\"Sapa
        rice fields\",\"alt_description\":\"aerial view of city at daytime\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1570366583862-f91883984fde?ixid=Mn[...]
