---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=1&query=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=20&query=thailand>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<client_id>&orientation=squarish&page=2&query=thailand>;
        rel="next"
      X-Total:
      - '194'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"03f10478a15cc1ee0ebb02b4c594a2aa"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":194,\"total_pages\":20,\"results\":[{\"id\":\"obcGkVOci5M\",\"slug\":\"aerial-photography-of-house-obcGkVOci5M\",\"created_at\":\"2019-09-22T12:37:23Z\",\"updated_at\":\"2024-02-12T12:51:10Z\",\"promoted_at\":\"2019-09-23T06:40:42Z\",\"width\":4161,\"height\":4347,\"color\":\"#0c2626\",\"blur_hash\":\"LC9%@hoe02WYX8s.ogt7M{j[xtbI\",\"description\":null,\"alt_description\":\"aerial
        photography of house\",\"breadcrumbs\":[],\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1569155829632-148eea0844af?ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1569155829632-148eea0844af?crop=entropy\\u0026cs=srgb\\u0026fm=jpg\\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\\u0026ixlib=rb-4.0.3\\u0026q=85\",\"regular\":\"https://images.unsplash.com/photo-1569155829632-148eea0844af?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1569155829632-148eea0844af?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1569155829632-148eea0844af?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1569155829632-148eea0844af\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/aerial-photography-of-house-obcGkVOci5M\",\"html\":\"https://unsplash.com/photos/aerial-photography-of-house-obcGkVOci5M\",\"download\":\"https://unsplash.com/photos/obcGkVOci5M/download?ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\",\"download_location\":\"https://api.unsplash.com/photos/obcGkVOci5M/download?ixid=M3wzNzk2NzN8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfDJ8fHwxNzA3Nzc5NzgyfDA\"},\"likes\":203,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"nature\":{\"status\":\"approved\",\"approved_on\":\"2020-04-06T14:20:18Z\"}},\"user\":{\"id\":\"cLPScq5AJSk\",\"updated_at\":\"2024-02-09T20:26:41Z\",\"username\":\"tankanin\",\"name\":\"Tan
        Kaninthanond\",\"first_name\":\"Tan\",\"last_name\":\"Kaninthanond\",\"twitter_username\":null,\"portfolio_url\":\"https://bio.link/tan_kanin\",\"bio\":\"Howdy!
        I am a freelance photographer based in Bangkok, Thailand. If you enjoy my
        work give my Instagram a peek! @tankanin, Thank you so much for supporting
        my work! Would be very much appreciated for all photo credits!    \",\"location\":\"Bangkok,
        Thailand\",\"links\":{\"self\":\"https://api.unsplash.com/users/tankanin\",\"html\":\"https://unsplash.com/@tankanin\",\"photos\":\"https://api.unsplash.com/users/tankanin/photos\",\"likes\":\"https://api.unsplash.com/users/tankanin/likes\",\"portfolio\":\"https://api.unsplash.com/users/tankanin/portfolio\",\"following\":\"https://api.unsplash.com/users/tankanin/following\",\"followers\":\"https://api.unsplash.com/users/tankanin/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/profile-1661350249587-ce22ec1b0446image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/profile-1661350249587-ce22ec1b0446image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/profile-1661350249587-ce22ec1b0446image?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":\"tankanin\",\"total_collections\":0,\"total_likes\":3,\"total_photos\":63,\"total_promoted_photos\":38,\"accepted_tos\":true,\"for_hire\":true,\"social\":{\"instagram_username\":\"tankanin\",\"portfolio_url\":\"https://bio.link/tan_kanin\",\"twitter_username\":null,\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"thailand\"},{\"type\":\"search\",\"title\":\"bangkok\"},{\"type\":\"landing_page\",\"title\":\"water\",\"source\":{\"ancestry\":{\"type\":{\"slug\":\"wallpapers\",\"pretty_slug\":\"HD
        Wallpapers\"},\"category\":{\"slug\":\"nature\",\"pretty_slug\":\"Nature\"},\"subcategory\":{\"slug\":\"water\",\"pretty_slug\":\"Water\"}},\"title\":\"Hd
        water wallpapers\",\"subtitle\":\"Download free water wallpapers\",\"description\":\"Choose
        from a curated selection of water wallpapers for your mobile and desktop screens.
        Always free on Unsplash.\",\"meta_title\":\"Water Wallpapers: Free HD Download
        [500+ HQ] | Unsplash\",\"meta_description\":\"Choose from hundreds of free
        water wallpapers. Download HD wallpapers for free on Unsplash.\",\"cover_photo\":{\"id\":\"fbbxMwwKqZk\",\"slug\":\"white-and-black-cardboard-box-fbbxMwwKqZk\",\"created_at\":\"2019-07-29T16:55:54Z\",\"updated_at\":\"2024-02-05T20:16:55Z\",\"promoted_at\":null,\"width\":3631,\"height\":5446,\"color\":\"#f3f3f3\",\"blur_hash\":\"LZMQ^s%hM_%M~qDiMx%MD$ofWBt7\",\"description\":null,\"alt_description\":\"white
        and black cardboard box\",\"breadcrumbs\":[],\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1564419320461-6870880221ad?ixlib=rb-4.0.3\",\"full\":\"https://i[...]
