---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Thailand","official":"Kingdom of Thailand","nativeName":{"tha":{"official":"ราชอาณาจักรไทย","common":"ประเทศไทย"}}},"tld":[".th",".ไทย"],"cca2":"TH","ccn3":"764","cca3":"THA","cioc":"THA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"THB":{"name":"Thai
        baht","symbol":"฿"}},"idd":{"root":"+6","suffixes":["6"]},"capital":["Bangkok"],"altSpellings":["TH","Prathet","Thai","Kingdom
        of Thailand","ราชอาณาจักรไทย","Ratcha Anachak Thai"],"region":"Asia","subregion":"South-Eastern
        Asia","languages":{"tha":"Thai"},"translations":{"ara":{"official":"مملكة
        تايلند","common":"تايلند"},"bre":{"official":"Rouantelezh Thailand","common":"Thailand"},"ces":{"official":"Thajské
        království","common":"Thajsko"},"cym":{"official":"Kingdom of Thailand","common":"Thailand"},"deu":{"official":"Königreich
        Thailand","common":"Thailand"},"est":{"official":"Tai Kuningriik","common":"Tai"},"fin":{"official":"Thaimaan
        kuningaskunta","common":"Thaimaa"},"fra":{"official":"Royaume de Thaïlande","common":"Thaïlande"},"hrv":{"official":"Kraljevina
        Tajland","common":"Tajland"},"hun":{"official":"Thaiföldi Királyság","common":"Thaiföld"},"ita":{"official":"Regno
        di Thailandia","common":"Tailandia"},"jpn":{"official":"タイ王国","common":"タイ"},"kor":{"official":"타이
        왕국","common":"태국"},"nld":{"official":"Koninkrijk Thailand","common":"Thailand"},"per":{"official":"پادشاهی
        تایلند","common":"تایلند"},"pol":{"official":"Królestwo Tajlandii","common":"Tajlandia"},"por":{"official":"Reino
        da Tailândia","common":"Tailândia"},"rus":{"official":"Королевство Таиланд","common":"Таиланд"},"slk":{"official":"Thajské
        kráľovstvo","common":"Thajsko"},"spa":{"official":"Reino de Tailandia","common":"Tailandia"},"srp":{"official":"Краљевина
        Тајланд","common":"Тајланд"},"swe":{"official":"Konungariket Thailand","common":"Thailand"},"tur":{"official":"Tayland
        Krallığı","common":"Tayland"},"urd":{"official":"مملکتِ تھائی لینڈ","common":"تھائی
        لینڈ"},"zho":{"official":"泰王国","common":"泰国"}},"latlng":[15.0,100.0],"landlocked":false,"borders":["MMR","KHM","LAO","MYS"],"area":513120.0,"demonyms":{"eng":{"f":"Thai","m":"Thai"},"fra":{"f":"Thaïlandaise","m":"Thaïlandais"}},"flag":"\uD83C\uDDF9\uD83C\uDDED","maps":{"googleMaps":"https://goo.gl/maps/qeU6uqsfW4nCCwzw9","openStreetMaps":"https://www.openstreetmap.org/relation/2067731"},"population":69799978,"gini":{"2019":34.9},"fifa":"THA","car":{"signs":["T"],"side":"left"},"timezones":["UTC+07:00"],"continents":["Asia"],"flags":{"png":"https://flagcdn.com/w320/th.png","svg":"https://flagcdn.com/th.svg","alt":"The
        flag of Thailand is composed of five horizontal bands of red, white, blue,
        white and red, with the central blue band twice the height of the other four
        bands."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/th.png","svg":"https://mainfacts.com/media/images/coats_of_arms/th.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[13.75,100.52]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Sun, 14 May 2023 22:37:26 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Thailand&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":191,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Thailand&app_key=<app_key>&_cont=CHcVQBtNNQphDmgVQ3tAEX4BYVRtBAIFSmRBBmYXZFx6DAMBUXlSV2MVNlFwUgcEFjcWUTEbYwZzA1AARmBAAzEWMFImUFcVLnlSVSBMPkd5BgMbUSYRVTdgMgksRlpSAAcRXTVGcV84SU4%3D&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_3a551652abf5a1cef1421660d1b657d9","label":"Andy
        Ricker''s Naam Cheuam Naam Taan Piip (Palm Sugar Simple Syrup)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/611/61165abc1c1c6a185fe5e67167d3e1f0.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEN7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQD2RwPF0%2FCYMJrQJvIwfinyXHtKut%2FFzUWggoYGGsGNegIgKAEhAh3ZRttno7X%2FQaEEJT9ZkJORtqVPGL93JKUpSQ0qwgUI9v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwxODcwMTcxNTA5ODYiDHqjlXGRXU5loss4KyqWBSrF%2FnpHixwOuA5knu1kSCIJWu4jCxFLQhg%2F8HxVYMfuP6MzzNr8MmVZNaLgPXJ4CxdfpJ%2Bb6i6R5GxDKdksraz3hVk4%2FfiW6i3M7cEEK3aMkJQxWRfVppotXTGl[...]
