---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Russia&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":60,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Russia&app_key=<app_key>&_cont=CHcWQT1OcV9xBB8VADQWVhFCPwoxXVZEITQeVDcBaR4-SQ%3D%3D&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_46e39db849027abaed2cb7b4f4d84862","label":"Quinoa
        Salad with Vegetables","image":"https://edamam-product-images.s3.amazonaws.com/web-img/26b/26ba53c7b50b02dd46136eea3a71da90.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEMf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCU9Ypo1Jbts6wuhccIZiP5W25mlsP0DlIDkcLlX8%2FBIwIgUrQa6kpYVRACiF42mQ5d0FXcnCkRFygTVS0PGSB8CRsqzAQIUBAAGgwxODcwMTcxNTA5ODYiDHmQzvWI2DwwlN8TkCqpBDnGyw5VX%2BrzVCk5Fj1a1rybpGGxmGxpVLzAeWUS9SeWLEv4BUZPRb%2FLPkYnkaMsqCOE75tJIVlFXWG9p1CLQVjw8pC%2BeVXG5%2FdSNjrrdlFuFwm%2F%2BYQ7rsu5e5mn2%2Bm2%2FWvDOzs5iJ2JwPuWSlfSa04g[...]
