---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/france
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"France","official":"French Republic","nativeName":{"fra":{"official":"République
        française","common":"France"}}},"tld":[".fr"],"cca2":"FR","ccn3":"250","cca3":"FRA","cioc":"FRA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["3"]},"capital":["Paris"],"altSpellings":["FR","French
        Republic","République française"],"region":"Europe","subregion":"Western Europe","languages":{"fra":"French"},"translations":{"ara":{"official":"الجمهورية
        الفرنسية","common":"فرنسا"},"bre":{"official":"Republik Frañs","common":"Frañs"},"ces":{"official":"Francouzská
        republika","common":"Francie"},"cym":{"official":"French Republic","common":"France"},"deu":{"official":"Französische
        Republik","common":"Frankreich"},"est":{"official":"Prantsuse Vabariik","common":"Prantsusmaa"},"fin":{"official":"Ranskan
        tasavalta","common":"Ranska"},"fra":{"official":"République française","common":"France"},"hrv":{"official":"Francuska
        Republika","common":"Francuska"},"hun":{"official":"Francia Köztársaság","common":"Franciaország"},"ita":{"official":"Repubblica
        francese","common":"Francia"},"jpn":{"official":"フランス共和国","common":"フランス"},"kor":{"official":"프랑스
        공화국","common":"프랑스"},"nld":{"official":"Franse Republiek","common":"Frankrijk"},"per":{"official":"جمهوری
        فرانسه","common":"فرانسه"},"pol":{"official":"Republika Francuska","common":"Francja"},"por":{"official":"República
        Francesa","common":"França"},"rus":{"official":"Французская Республика","common":"Франция"},"slk":{"official":"Francúzska
        republika","common":"Francúzsko"},"spa":{"official":"República francés","common":"Francia"},"srp":{"official":"Француска
        Република","common":"Француска"},"swe":{"official":"Republiken Frankrike","common":"Frankrike"},"tur":{"official":"Fransa
        Cumhuriyeti","common":"Fransa"},"urd":{"official":"جمہوریہ فرانس","common":"فرانس"},"zho":{"official":"法兰西共和国","common":"法国"}},"latlng":[46.0,2.0],"landlocked":false,"borders":["AND","BEL","DEU","ITA","LUX","MCO","ESP","CHE"],"area":551695.0,"demonyms":{"eng":{"f":"French","m":"French"},"fra":{"f":"Française","m":"Français"}},"flag":"\uD83C\uDDEB\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/g7QxxSFsWyTPKuzd7","openStreetMaps":"https://www.openstreetmap.org/relation/1403916"},"population":67391582,"gini":{"2018":32.4},"fifa":"FRA","car":{"signs":["F"],"side":"right"},"timezones":["UTC-10:00","UTC-09:30","UTC-09:00","UTC-08:00","UTC-04:00","UTC-03:00","UTC+01:00","UTC+02:00","UTC+03:00","UTC+04:00","UTC+05:00","UTC+10:00","UTC+11:00","UTC+12:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/fr.png","svg":"https://flagcdn.com/fr.svg","alt":"The
        flag of France is composed of three equal vertical bands of blue, white and
        red."},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/fr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/fr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[48.87,2.33]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Tue, 01 Oct 2024 23:40:44 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<apiKey>&bias=proximity:2.33,48.87&categories=tourism.sights&conditions=named&filter=circle:2.33,48.87,5000&limit=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Mistinguett","country":"France","country_code":"fr","region":"Metropolitan
        France","state":"Ile-de-France","city":"Paris","postcode":"75009","district":"Paris","suburb":"9th
        Arrondissement","city_block":"Quartier de la Chaussée-d''Antin","street":"Boulevard
        des Capucines","lon":2.3284722,"lat":48.870161,"state_code":"IDF","state_COG":"11","formatted":"Mistinguett,
        Boulevard des Capucines, 75009 Paris, France","address_line1":"Mistinguett","address_line2":"Boulevard
        des Capucines, 75009 Paris, France","categories":["tourism","tourism.sights","tourism.sights.memorial"],"details":["details.historic"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database License","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Mistinguett","osm_id":10811040647,"historic":"memorial","memorial":"plaque","osm_type":"n"}},"historic":{"type":"memorial","memorial":"plaque"},"distance":114,"place_id":"5150296508b6a00240592609866f616f4840f00103f901876363840200000092030b4d697374696e6775657474"},"geometry":{"type":"Point","coordinates":[2.3284722,48.87016099972452]}},{"type":"Feature","properties":{"name":"Crédit
        Foncier de France","country":"France","country_code":"fr","region":"Metropolitan
        France","state":"Ile-de-France","city":"Paris","postcode":"75002","district":"Paris","suburb":"2nd
        Arrondissement","city_block":"Quartier Gaillon","street":"Rue des Capucines","lon":2.3283688,"lat":48.8697225,"state_code":"IDF","state_COG":"11","formatted":"Crédit
        Foncier de France, Rue des Capucines, 75002 Paris, France","address_line1":"Crédit
        Foncier de France","address_line2":"Rue des Capucines, 75002 Paris, France","categories":["tourism","tourism.sights","tourism.sights.memorial","wheelchair","wheelchair.yes"],"details":["details","details.facilities","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database License","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Crédit
        Foncier de France","title":"Histoire de Paris","osm_id":5157529658,"tourism":"information","historic":"memorial","memorial":"plaque","operator":"Mairie
        de Paris","osm_type":"n","wikidata":"Q60245392","board_type":"history","wheelchair":"yes","information":"board","inscription:1":"Sur
        des terrains vendus en 1719 par Guillaume Leduc ont été élevés les deux hôtels
        occupés depuis 1854 et 1858 par le Crédit Foncier. Tannevot les construisit,
        celui du 15 pour le fermier général Louis-Philippe Des Vieux, ancien directeur
        de la Compagnie","inscription:2":"des Indes, celui du 17-19 pour François
        Castanier, également directeur de la Compagnie des Indes. Autorisé par décret
        du 28 mars 1852 sous le nom de Banque foncière de Paris, le Crédit foncier
        de France était à l''origine une société de prêteurs prenant","inscription:3":"des
        gages hypothécaires sur les propriétés immobilières de ses emprunteurs. Ses
        attributions ont été étendues dès 1860 aux prêts et aux départements, puis
        à diverses opérations d''intérêt national attribuées par l''État."}},"operator":"Mairie
        de Paris","facilities":{"wheelchair":true},"wiki_and_media":{"wikidata":"Q60245392"},"historic":{"type":"memorial","memorial":"plaque"},"distance":124,"place_id":"51d03648d27fa0024059d4741e11536f4840f00103f9013aa86933010000009203194372c3a964697420466f6e63696572206465204672616e6365"},"geometry":{"type":"Point","coordinates":[2.3283688,48.869722499724645]}},{"type":"Feature","properties":{"name":"Théâtre
        Daunou","country":"France","country_code":"fr","region":"Metropolitan France","state":"Ile-de-France","city":"Paris","postcode":"75002","district":"Paris","suburb":"2nd
        Arrondissement","city_block":"Quartier Gaillon","street":"Rue Daunou","lon":2.331856298373986,"lat":48.86926575,"state_code":"IDF","state_COG":"11","formatted":"Théâtre
        Daunou, Rue Daunou, 75002 Paris, France","address_line1":"Théâtre Daunou","address_line2":"Rue
        Daunou, 75002 Paris, France","categories":["building","building.entertainment","building.historic","entertainment","entertainment.culture","entertainment.culture.theatre","heritage","tourism","tourism.sights"],"details":["details","details.heritage","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database License","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Théâtre
        Daunou","osm_id":54730662,"amenity":"theatre","ref:mhs":"PA00086098","building":"yes","heritage":3,"historic":"building","osm_type":"w","wikidata":"Q3527446","wikipedia":"fr:Théâtre
        Daunou","contact:city":"Paris","contact:street":"Rue Daunou","contact:postcode":75002,"heritage:operator":"mhs","contact:housenumber":7}},"ref_other":{"mhs":"PA00086098"},"wiki_and_media":{"wikidata":"Q3527446","wikipedia":"fr:Théâtre
        Daunou"},"historic":{"type":"building"},"heritage":{"level":3,"operator":"mhs","ref":"PA00086098"},"distance":150,"place_id":"5128e76346a4a7024059e24c9f19446f4840f00102f901a61f4303000000009203105468c3a9c3a2747265204461756e6f75"},"geometry":{"type":"Point","coordinates":[2.3318562983739817,48.86926574972473]}},{"type":"Feature","properties":{"name":"Edouard
        VII","country":"France","country_code":"fr","region":"Metropolitan France","state":"Ile-de-France","city":"Paris","postcode":"75009","district":"Paris","suburb":"9th
        Arrondissement","city_block":"Quartier de la Chaussée-d''Antin","street":"Place
        Édouard VII","lon":2.3291888,"lat":48.8712586,"state_code":"IDF","state_COG":"11","formatted":"Edouard
        VII, Place Édouard VII, 75009 Paris, France","address_line1":"Edouard VII","address_line2":"Place
        Édouard VII, 75009 Paris, France","categories":["tourism","tourism.sights","tourism.sights.memorial"],"details":["details.historic"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database License","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Edouard
        VII","osm_id":4118826592,"historic":"memorial","memorial":"statue","osm_type":"n"}},"historic":{"type":"memorial","memorial":"statue"},"distance":152,"place_id":"5105add1bc2da20240595116dc66856f4840f00103f901604e80f50000000092030b45646f7561726420564949"},"geometry":{"type":"Point","coordinates":[2.3291887999999994,48.871258599724236]}},{"type":"Feature","properties":{"old_name":"Place
        de Louis Le Grand;Place des Conquêtes;Place des Piques","country":"France","country_code":"fr","region":"Metropolitan
        France","state":"Ile-de-France","city":"Paris","postcode":"75001","district":"Paris","suburb":"1st
        Arrondissement","city_block":"Quartier Vendôme","street":"Place Vendôme","lon":2.329428116825194,"lat":48.867463400000005,"state_code":"IDF","state_COG":"11","formatted":"Place
        Vendôme, 75001 Paris, France","address_line1":"Place Vendôme","address_line2":"75001
        Paris, France","name":"Place Vendôme","categories":["tourism","tourism.attraction","tourism.sights","tourism.sights.square","wheelchair","wheelchair.yes"],"details":["details","details.facilities","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database License","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Place
        Vendôme","place":"square","osm_id":54175774,"bicycle":"no","name:he":"כיכר
        ונדום","tourism":"attraction","old_name":"Place de Louis Le Grand;Place des
        Conquêtes;Place des Piques","osm_type":"w","wikidata":"Q643520","wikipedia":"fr:Place
        Vendôme","wheelchair":"yes"}},"name_other":{"old_name":"Place de Louis Le
        Grand;Place des Conquêtes;Place des Piques"},"name_international":{"he":"כיכר
        ונדום"},"facilities":{"wheelchair":true},"wiki_and_media":{"wikidata":"Q643520","wikipedia":"fr:Place
        Vendôme"},"distance":201,"place_id":"51302d6135aba2024059fa256a0a096f4840f00102f9011ea83a030000000092030e506c6163652056656e64c3b46d65"},"geometry":{"type":"Point","coordinates":[2.3294281168251914,48.867463399725196]}},{"type":"Feature","properties":{"name":"Hôtel
        de Bourvallais","country":"France","country_code":"fr","region":"Metropolitan
        France","state":"Ile-de-France","city":"Paris","postcode":"75001","district":"Paris","suburb":"1st
        Arrondissement","city_block":"Quartier Vendôme","street":"Place Vendôme","lon":2.327720777076975,"lat":48.8680633,"state_code":"IDF","state_COG":"11","formatted":"Hôtel
        de Bourvallais, Place Vendôme, 75001 Paris, France","address_line1":"Hôtel
        de Bourvallais","address_line2":"Place Vendôme, 75001 Paris, France","categories":["tourism","tourism.sights"],"details":["details","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database License","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Hôtel
        de Bourvallais","osm_id":148573267,"alt_name":"Hôtel de la Grande-Chancellerie","historic":"manor","osm_type":"w","wikidata":"Q3145763","wikipedia":"fr:Hôtel
        de Bourvallais"}},"name_other":{"alt_name":"Hôtel de la Grande-Chancellerie"},"wiki_and_media":{"wikidata":"Q3145763","wikipedia":"fr:Hôtel
        de Bourvallais"},"historic":{"type":"manor"},"distance":224,"place_id":"518d1f1e122c9f024059a496bdb21c6f4840f00102f901530cdb080000000092031548c3b474656c20646520426f757276616c6c616973"},"geometry":{"type":"Point","coordinates":[2.327[...]
